<div class="container">
  <div class="product-list">
    <div class="product-list-header">
      <h1>{{ category }}</h1>
      <button mat-raised-button color="primary" (click)="openDialog()">
        Fetch Data
      </button>
    </div>
    <mat-card *ngFor="let data of fetchedData">
      <mat-card-content>
        <h1>{{ data.title }}</h1>
        <p>{{ data.description }}</p>
      </mat-card-content>
    </mat-card>
    <button class="btn" mat-raised-button routerLink="/" color="primary">back to home</button>
  </div>
</div>
